
  .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* // Image: image;
background: url("image.png");
 */

/* Group 472 */

/* position: absolute;
width: 541px;
height: 1024px;
left: 0px;
top: 0px;
 */


/* Rectangle 179 */

/* position: absolute;
width: 541px;
height: 1024px;
left: 0px;
top: 0px;

background: url(image.png); */


/* Group 471 */
/* 
position: absolute;
width: 270px;
height: 385px;
left: calc(50% - 270px/2 - 449px);
top: 236px;
 */


/* sicu-aura_logo-removebg 2 */

/* position: absolute;
width: 270px;
height: 63px;
left: calc(50% - 270px/2 - 449px);
top: calc(50% - 63px/2 + 77.5px);

background: url(sicu-aura_logo-removebg.png);
 */

/* sicu-aura_logo-removebg 3 */

/* position: absolute;
width: 270px;
height: 322px;
left: calc(50% - 270px/2 - 449px);
top: calc(50% - 322px/2 - 115px);

background: url(sicu-aura_logo-removebg.png);
 */

/* #Safe-T-Fast */

/* position: absolute;
width: 167px;
height: 36px;
left: calc(50% - 167px/2 - 449.5px);
top: 753px; */

/* font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
identical to box height

color: #FFFFFF;
 */


/* Feel Safe Everywhere */

/* position: absolute;
width: 342px;
height: 48px;
left: calc(50% - 342px/2 - 449px);
top: 675px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
identical to box height */


